<!DOCTYPE html>
<html>
       <head>
              <meta charset="utf-8" />
              <link rel="stylesheet" href="../style.css" />
              <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
              <nav
                     class="nav flex flex-wrap items-center justify-between px-4 backdrop-filter backdrop-blur-[10px] bg-opacity-30"
              >
                     <div
                            class="flex items-center py-3 mr-6 flex-no-shrink text-grey-darkest"
                     >
                            <svg
                                   class="w-8 h-8 mr-2 transition duration-300 fill-current"
                                   xmlns="http://www.w3.org/2000/svg"
                                   width="97"
                                   height="97"
                                   viewBox="0 0 97 97"
                                   fill="none"
                            >
                                   <circle
                                          cx="48.5"
                                          cy="48.5"
                                          r="48.5"
                                          fill="#0085FF"
                                          fill-opacity="1"
                                   />
                            </svg>

                            <span
                                   class="text-xl font-semibold tracking-tight transition duration-300 dark:text-white"
                                   >BenCinn | Chitsanupong Rongpan</span
                            >
                     </div>

                     <input
                            class="hidden menu-btn"
                            type="checkbox"
                            id="menu-btn"
                     />
                     <label
                            class="relative block px-2 py-4 cursor-pointer select-none menu-icon md:hidden"
                            for="menu-btn"
                     >
                            <span
                                   class="relative flex items-center navicon bg-grey-darkest"
                            ></span>
                     </label>

                     <ul
                            class="flex justify-end w-full m-0 border-b menu md:border-none list-reset md:w-auto"
                     >
                            <li class="mr-3">
                                   <div class="flex items-center justify-end">
                                          <span
                                                 class="text-sm transition duration-300 dark:text-neutral-700 text-neutral-400"
                                                 >Light</span
                                          >
                                   </div>
                                   <div>
                                          <input
                                                 type="checkbox"
                                                 name=""
                                                 id="toggle"
                                                 class="hidden"
                                          />
                                          <label for="toggle">
                                                 <div
                                                        class="flex items-center h-5 p-1 bg-gray-300 rounded-full w-9"
                                                 >
                                                        <div
                                                               class="w-4 h-4 transition duration-300 bg-white rounded-full shadow-sm toggle-dot"
                                                        ></div></div
                                          ></label>
                                   </div>
                                   <div class="flex items-center justify-end">
                                          <span
                                                 class="text-sm transition duration-300 dark:text-neutral-400 text-neutral-700"
                                                 >Dark</span
                                          >
                                   </div>
                            </li>
                            <li class="border-t md:border-none">
                                   <a
                                          href="/"
                                          class="block px-4 py-3 font-bold no-underline md:inline-block text-neutral-800 hover:text-grey-darker dark:text-neutral-200"
                                          >Home</a
                                   >
                            </li>

                            <li class="border-t md:border-none">
                                   <a
                                          href="/about/"
                                          class="block px-4 py-3 no-underline md:inline-block text-neutral-800 hover:text-grey-darker dark:text-neutral-200"
                                          >About</a
                                   >
                            </li>

                            <li class="border-t md:border-none">
                                   <a
                                          href="/blog/"
                                          class="block px-4 py-3 no-underline md:inline-block text-neutral-800 hover:text-grey-darker dark:text-neutral-200"
                                          >Blog</a
                                   >
                            </li>
                     </ul>
              </nav>
       </head>
       <body
              class="relative flex flex-col min-h-screen font-sans leading-normal tracking-normal transition duration-300 bg-gray-100 dark:bg-neutral-800"
       >
              <div class="pt-12 pb-12">
                     <div>
                            <h1
                                   class="mt-10 font-extrabold tracking-tight text-center text-blue-400 transition duration-300 dark:text-gray-100 sm:text-5xl md:text-6xl"
                            >
                                   Latest posts
                            </h1>
                            <!-- Modified from: https://github.com/sharadcodes/jekyll-theme-serial-programmer/blob/main/assets/css/blog.css -->
                            {% for post in site.posts limit:1%}
                            <div class="max-w-md mx-auto">
                                   <a href="{{site.baseurl}}{{post.url}}"
                                          ><article
                                                 class="grid items-center max-w-md gap-6 m-16 mx-auto transition duration-500 ease-out bg-white shadow-lg ring-1 ring-black/5 rounded-xl dark:bg-neutral-700 dark:highlight-white/5 md:hover:-translate-y-1 md:hover:scale-105"
                                          >
                                                 <h2
                                                        class="mx-8 mt-8 text-sm font-medium truncate text-slate-900 sm:text-base dark:text-slate-200"
                                                 >
                                                        {{post.title}}
                                                 </h2>
                                                 <small
                                                        class="mx-8 mb-8 text-sm font-medium leading-tight truncate text-slate-500 sm:text-base dark:text-slate-400"
                                                        >{{post.date |
                                                        date_to_string}}</small
                                                 >
                                          </article></a
                                   >
                            </div>

                            {%endfor%}
                     </div>
                     <div>
                            <h1
                                   class="mt-10 font-extrabold tracking-tight text-center text-blue-400 transition duration-300 dark:text-gray-100 sm:text-5xl md:text-6xl"
                            >
                                   All Posts
                            </h1>
                            <!-- Modified from: https://github.com/sharadcodes/jekyll-theme-serial-programmer/blob/main/assets/css/blog.css -->
                            {% for post in site.posts %}
                            <div class="max-w-md mx-auto">
                                   <a href="{{site.baseurl}}{{post.url}}"
                                          ><article
                                                 class="grid items-center max-w-md gap-6 m-16 mx-auto transition duration-500 ease-out bg-white shadow-lg ring-1 ring-black/5 rounded-xl dark:bg-neutral-700 dark:highlight-white/5 md:hover:-translate-y-1 md:hover:scale-105"
                                          >
                                                 <h2
                                                        class="mx-8 mt-8 text-sm font-medium truncate text-slate-900 sm:text-base dark:text-slate-200"
                                                 >
                                                        {{post.title}}
                                                 </h2>
                                                 <small
                                                        class="mx-8 mb-8 text-sm font-medium leading-tight truncate text-slate-500 sm:text-base dark:text-slate-400"
                                                        >{{post.date |
                                                        date_to_string}}</small
                                                 >
                                          </article></a
                                   >
                            </div>

                            {%endfor%}
                     </div>
              </div>

              <p
                     class="text-center inset-x-0 bottom-0 pb-2 text-black dark:text-white transition-all duration-[300ms] absolute"
              >
                     Powered by
                     <a class="stacks"></a>.
              </p>
              <script>
                     /* Text Animation */
                     var experience = new Typed('.experience', {
                            strings: ['Front-End ', 'Back-End', 'Web-App'],
                            typeSpeed: 100,
                            showCursor: true,
                            backSpeed: 50,
                            smartBackspace: true,
                            loop: true,
                     });
                     var stacks = new Typed('.stacks', {
                            strings: [
                                   '<a class="underline decoration-yellow-400 decoration-[3px] transition-all duration-[300ms]">Jekyll</a>',
                                   '<a class="underline decoration-blue-400 decoration-[3px] transition-all duration-[300ms]">Tailwind CSS</a>',
                                   '<a class="underline decoration-blue-800 decoration-[3px] transition-all duration-[300ms]">Github Pages</a>',
                            ],
                            typeSpeed: 100,
                            backSpeed: 50,
                            smartBackspace: true,
                            loop: true,
                     });

                     /* Dark Mode */
                     const themeselect = function (theme) {
                            if (theme == 'dark') {
                                   document.documentElement.classList.add(
                                          'dark'
                                   );
                                   html.classList.add('dark');
                                   localStorage.setItem('theme', 'dark');
                            } else {
                                   document.documentElement.classList.remove(
                                          'dark'
                                   );
                                   html.classList.remove('dark');
                                   localStorage.setItem('theme', 'light');
                            }
                     };

                     const checkbox = document.querySelector('#toggle');
                     const html = document.querySelector('html');

                     const toggle = function () {
                            checkbox.checked
                                   ? themeselect('dark')
                                   : themeselect('light');
                     };

                     if (
                            localStorage.theme === 'dark' ||
                            (!('theme' in localStorage) &&
                                   window.matchMedia(
                                          '(prefers-color-scheme: dark)'
                                   ).matches)
                     ) {
                            document.documentElement.classList.add('dark');
                            checkbox.checked = true;
                     } else {
                            document.documentElement.classList.remove('dark');
                            checkbox.checked = false;
                     }
                     checkbox.addEventListener('click', toggle);
              </script>
       </body>
</html>
