<!DOCTYPE html>
<html class="scroll-smooth">
       <head>
              <link rel="stylesheet" href="/index.css" />
       </head>
       <!--Based on https://github.com/tailwindtoolbox/Minimal-Blog/blob/master/index.html-->
       <body class="bg-gray-100 font-sans leading-normal tracking-normal">
              <nav id="header" class="fixed w-full z-10 top-0">
                     <div
                            id="progress"
                            class="h-1 z-20 top-0"
                            style="
                                   background: linear-gradient(
                                          to right,
                                          #3b82f6 var(--scroll),
                                          transparent 0
                                   );
                            "
                     ></div>

                     <div
                            class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3"
                     >
                            <div class="pl-4">
                                   <a
                                          class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl"
                                          href="#"
                                   >
                                          Chitsanupong
                                   </a>
                            </div>

                            <div
                                   class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20"
                                   id="nav-content"
                            >
                                   <ul
                                          class="list-reset lg:flex justify-end flex-1 items-center"
                                   >
                                          <li class="mr-3">
                                                 <a
                                                        class="inline-block py-2 px-4 text-gray-900 font-bold no-underline"
                                                        href="/"
                                                        >Home</a
                                                 >
                                          </li>
                                   </ul>
                            </div>
                     </div>
              </nav>

              <!--Container-->
              <div class="container w-full md:max-w-3xl mx-auto pt-20">
                     <div
                            class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal"
                            style="font-family: Georgia, serif"
                     >
                            <!--Title-->
                            <div class="font-sans">
                                   <h1
                                          class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"
                                   >
                                          {{ page.title }}
                                   </h1>
                            </div>

                            <!--Post Content-->

                            <!--Lead Para-->
                            {{ content }}
                     </div>

                     <!--Author-->
                     <div class="flex w-full items-center font-sans px-4 py-12">
                            <img
                                   class="w-10 h-10 rounded-full mr-4"
                                   src="https://avatars.githubusercontent.com/u/91706501?v=4"
                                   alt="Avatar of Author"
                            />
                            <div class="flex-1 px-2">
                                   <p
                                          class="text-base font-bold text-base md:text-xl leading-none mb-2"
                                   >
                                          Chitsanupong Rongpan
                                   </p>
                                   <p
                                          class="text-gray-600 text-xs md:text-base"
                                   >
                                          Random student who likes coding for
                                          fun.
                                   </p>
                            </div>
                            <div class="justify-end">
                                   <a href="/"
                                          ><button
                                                 class="bg-transparent border border-gray-500 hover:border-blue-500 text-xs text-gray-500 hover:text-blue-500 font-bold py-2 px-4 rounded-full"
                                          >
                                                 Read More
                                          </button></a
                                   >
                            </div>
                     </div>
                     <!--/Author-->

                     <!--Divider-->
                     <hr class="border-b-2 border-gray-400 mb-8 mx-4" />
              </div>
              <!--/container-->

              <footer class="bg-white border-t border-gray-400 shadow">
                     <div class="container max-w-4xl mx-auto flex py-8">
                            <div class="w-full mx-auto flex flex-wrap">
                                   <div class="flex w-full md:w-1/2">
                                          <div class="px-8">
                                                 <h3
                                                        class="font-bold text-gray-900"
                                                 >
                                                        About
                                                 </h3>
                                                 <p
                                                        class="py-4 text-gray-600 text-sm"
                                                 >
                                                        I'm student that starts
                                                        coding since 2018 for
                                                        fun, And I still doing
                                                        it for <b>fun</b>!
                                                 </p>
                                          </div>
                                   </div>

                                   <div class="flex w-full md:w-1/2">
                                          <div class="px-8">
                                                 <h3
                                                        class="font-bold text-gray-900"
                                                 >
                                                        Social
                                                 </h3>
                                                 <ul
                                                        class="list-reset items-center text-sm pt-3"
                                                 >
                                                        <li>
                                                               <a
                                                                      class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                                                                      href="https://github.com/BenCinn"
                                                                      >github:
                                                                      <b
                                                                             >@BenCinn</b
                                                                      ></a
                                                               >
                                                        </li>
                                                        <li>
                                                               <a
                                                                      class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                                                                      href="https://bencinn.github.io/"
                                                                      >Website:
                                                                      <b
                                                                             >bencinn.github.io</b
                                                                      ></a
                                                               >
                                                        </li>
                                                        <li>
                                                               <a
                                                                      class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                                                                      href="mailto:pp.rongpan@gmail.com"
                                                                      >Email:
                                                                      <b
                                                                             >pp.rongpan@gmail.com</b
                                                                      ></a
                                                               >
                                                        </li>
                                                 </ul>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </footer>

              <script>
                     /* Progress bar */
                     //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
                     var h = document.documentElement,
                            b = document.body,
                            st = 'scrollTop',
                            sh = 'scrollHeight',
                            progress = document.querySelector('#progress'),
                            scroll;
                     var scrollpos = window.scrollY;
                     var header = document.getElementById('header');
                     var navcontent = document.getElementById('nav-content');

                     document.addEventListener('scroll', function () {
                            /*Refresh scroll % width*/
                            scroll =
                                   ((h[st] || b[st]) /
                                          ((h[sh] || b[sh]) - h.clientHeight)) *
                                   100;
                            progress.style.setProperty(
                                   '--scroll',
                                   scroll + '%'
                            );

                            /*Apply classes for slide in bar*/
                            scrollpos = window.scrollY;

                            if (scrollpos > 10) {
                                   header.classList.add('bg-white');
                                   header.classList.add('shadow');
                                   navcontent.classList.remove('bg-gray-100');
                                   navcontent.classList.add('bg-white');
                            } else {
                                   header.classList.remove('bg-white');
                                   header.classList.remove('shadow');
                                   navcontent.classList.remove('bg-white');
                                   navcontent.classList.add('bg-gray-100');
                            }
                     });
              </script>
       </body>
</html>
