<!DOCTYPE html>
<html class="scroll-smooth">
       <head>
              <link rel="stylesheet" href="../style.css" />
              <meta
                     name="viewport"
                     content="width=device-width, initial-scale=1.0"
              />
              <style>
                     .linkanim {
                            position: relative;
                            color: #000;
                            text-decoration: none;
                     }

                     .linkanim:hover {
                            color: #000;
                     }

                     .linkanim::before {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: #000;
                            transform: scaleX(0);
                            transition: transform 0.3s ease;
                     }

                     .linkanim:hover::before {
                            transform: scaleX(1);
                     }
              </style>
              <nav
                     class="nav flex flex-wrap fixed inset-x-0 items-center justify-between px-4 backdrop-filter backdrop-blur-[10px] bg-opacity-30"
              >
                     <div
                            class="flex items-center py-3 mr-6 flex-no-shrink text-grey-darkest"
                     >
                            <svg
                                   class="mr-2 w-8 h-8 transition duration-300 fill-current"
                                   xmlns="http://www.w3.org/2000/svg"
                                   width="97"
                                   height="97"
                                   viewBox="0 0 97 97"
                                   fill="none"
                            >
                                   <circle
                                          cx="48.5"
                                          cy="48.5"
                                          r="48.5"
                                          fill="#0085FF"
                                          fill-opacity="1"
                                   />
                            </svg>

                            <span
                                   class="font-semibold tracking-tight transition duration-300 dark:text-white"
                                   >BenCinn<span class="hidden sm:inline"> | <span class="text-blue-400">Chitsanupong Rongpan</span></span
                            >
                     </div>

                     <input
                            class="hidden menu-btn"
                            type="checkbox"
                            id="menu-btn"
                     />
                     <label
                            class="block relative px-2 py-4 cursor-pointer select-none menu-icon md:hidden"
                            for="menu-btn"
                     >
                            <span
                                   class="flex relative items-center navicon bg-grey-darkest"
                            ></span>
                     </label>

                     <ul
                            class="flex justify-end m-0 w-full border-b menu md:border-none list-reset md:w-auto"
                     >
                            <li class="mr-3">
                                   <div class="flex justify-end items-center">
                                          <span
                                                 class="text-sm transition duration-300 dark:text-neutral-700 text-neutral-400"
                                                 >Light</span
                                          >
                                   </div>
                                   <div>
                                          <input
                                                 type="checkbox"
                                                 name=""
                                                 id="toggle"
                                                 class="hidden"
                                          />
                                          <label for="toggle">
                                                 <div
                                                        class="flex items-center p-1 w-9 h-5 bg-gray-300 rounded-full"
                                                 >
                                                        <div
                                                               class="w-4 h-4 bg-white rounded-full shadow-sm transition duration-300 toggle-dot"
                                                        ></div></div
                                          ></label>
                                   </div>
                                   <div class="flex justify-end items-center">
                                          <span
                                                 class="text-sm transition duration-300 dark:text-neutral-400 text-neutral-700"
                                                 >Dark</span
                                          >
                                   </div>
                            </li>
                            <li class="border-t md:border-none">
                                   <a
                                          href="/"
                                          class="block px-4 py-3 font-bold no-underline md:inline-block text-neutral-800 hover:text-grey-darker dark:text-neutral-200"
                                          >Home</a
                                   >
                            </li>

                            <li class="border-t md:border-none">
                                   <a
                                          href="/about/"
                                          class="block px-4 py-3 no-underline md:inline-block text-neutral-800 hover:text-grey-darker dark:text-neutral-200"
                                          >About</a
                                   >
                            </li>

                            <li class="border-t md:border-none">
                                   <a
                                          href="/blog/"
                                          class="block px-4 py-3 no-underline md:inline-block text-neutral-800 hover:text-grey-darker dark:text-neutral-200"
                                          >Blog</a
                                   >
                            </li>
                     </ul>
              </nav>
       </head>
       <!--Based on https://github.com/tailwindtoolbox/Minimal-Blog/blob/master/index.html-->
       <body
              class="flex flex-col min-h-screen font-sans tracking-normal leading-normal bg-gray-100 transition duration-300 dark:bg-neutral-800"
       >
              <!--Container-->
              <div
                     class="container flex-grow pt-20 mx-auto w-full md:max-w-3xl"
              >
                     <div
                            class="px-4 w-full text-xl leading-normal text-gray-800 transition duration-300 md:px-6 dark:text-neutral-100"
                            style="font-family: Georgia, serif"
                     >
                            <!--Title-->
                            <div class="font-sans">
                                   <h1
                                          class="pt-6 pb-2 font-sans text-3xl font-bold text-gray-900 break-normal transition duration-300 dark:text-neutral-200 md:text-4xl"
                                   >
                                          {{ page.title }}
                                   </h1>
                            </div>

                            <!--Post Content-->

                            <!--Lead Para-->
                            {{ content }}
                     </div>

                     <!--Author-->
                     <div class="flex items-center px-4 py-12 w-full font-sans">
                            <img
                                   class="overflow-hidden w-12 h-12 rounded-full border-2 transition duration-300 dark:border-white border-neutral-900"
                                   src="https://avatars.githubusercontent.com/u/91706501?v=4"
                                   alt="Avatar of Author"
                            />
                            <div class="flex-1 px-2">
                                   <p
                                          class="mb-2 text-base font-bold leading-none transition duration-300 md:text-xl dark:text-white text-neutral-900"
                                   >
                                          Chitsanupong Rongpan
                                   </p>
                                   <p
                                          class="text-xs transition duration-300 text-neutral-800 dark:text-neutral-400 md:text-base"
                                   >
                                          Random student who likes to do coding
                                          just for fun.
                                   </p>
                            </div>
                            <div class="justify-end">
                                   <a href="/"
                                          ><button
                                                 class="px-4 py-2 text-xs font-bold bg-transparent rounded-full border transition duration-300 ease-linear border-neutral-800 text-neutral-800 dark:border-neutral-500 dark:text-neutral-500 text-neutral-80 hover:border-blue-500 hover:text-blue-500 dark:hover:text-neutral-300 dark:hover:border-neutral-300"
                                          >
                                                 Read More
                                          </button></a
                                   >
                            </div>
                     </div>
                     <!--/Author-->

                     <!--Divider-->
                     <hr class="mx-4 mb-8 border-b-2 border-gray-400" />
              </div>
              <!--/container-->

              <footer
                     class="flex justify-center bg-white border-t border-gray-400 shadow transition duration-300 dark:bg-neutral-700"
              >
                     <div class="container flex py-8 mx-auto max-w-4xl">
                            <div class="flex flex-wrap mx-auto w-full">
                                   <div class="flex w-full md:w-1/2">
                                          <div class="px-8">
                                                 <h3
                                                        class="font-bold text-neutral-900"
                                                 >
                                                        About
                                                 </h3>
                                                 <p
                                                        class="py-4 text-sm transition duration-300 text-neutral-900 dark:text-neutral-200"
                                                 >
                                                        I'm student that starts
                                                        coding since 2018 for
                                                        fun, And I still doing
                                                        it for
                                                        <b class="text-blue-500"
                                                               >fun</b
                                                        >!
                                                 </p>
                                          </div>
                                   </div>

                                   <div class="flex w-full md:w-1/2">
                                          <div class="px-8">
                                                 <h3
                                                        class="font-bold text-neutral-900"
                                                 >
                                                        Contact
                                                 </h3>
                                                 <ul
                                                        class="items-center pt-3 text-sm list-reset"
                                                 >
                                                        <li>
                                                               <a
                                                                      class="inline-block py-1 text-gray-600 transition duration-300 linkanim dark:text-neutral-300 hover:text-gray-900 hover:dark:text-neutral-400"
                                                                      href="https://github.com/BenCinn"
                                                                      >github:
                                                                      <b
                                                                             >@BenCinn</b
                                                                      ></a
                                                               >
                                                        </li>
                                                        <li>
                                                               <a
                                                                      class="inline-block py-1 text-gray-600 no-underline transition duration-300 linkanim dark:text-neutral-300 hover:text-gray-900 hover:dark:text-neutral-400"
                                                                      href="https://bencinn.github.io/"
                                                                      >Website:
                                                                      <b
                                                                             >bencinn.github.io</b
                                                                      ></a
                                                               >
                                                        </li>
                                                        <li>
                                                               <a
                                                                      class="inline-block py-1 text-gray-600 no-underline transition duration-300 linkanim dark:text-neutral-300 hover:text-gray-900 hover:dark:text-neutral-400"
                                                                      href="mailto:pp.rongpan@gmail.com"
                                                                      >Email:
                                                                      <b
                                                                             >pp.rongpan@gmail.com</b
                                                                      ></a
                                                               >
                                                        </li>
                                                 </ul>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </footer>

              <script>
                     /* Dark Mode */

                     const themeselect = function (theme) {
                            if (theme == 'dark') {
                                   document.documentElement.classList.add(
                                          'dark'
                                   );
                                   html.classList.add('dark');
                                   localStorage.setItem('theme', 'dark');
                            } else {
                                   document.documentElement.classList.remove(
                                          'dark'
                                   );
                                   html.classList.remove('dark');
                                   localStorage.setItem('theme', 'light');
                            }
                     };

                     const checkbox = document.querySelector('#toggle');
                     const html = document.querySelector('html');

                     const toggle = function () {
                            checkbox.checked
                                   ? themeselect('dark')
                                   : themeselect('light');
                     };

                     if (
                            localStorage.theme === 'dark' ||
                            (!('theme' in localStorage) &&
                                   window.matchMedia(
                                          '(prefers-color-scheme: dark)'
                                   ).matches)
                     ) {
                            document.documentElement.classList.add('dark');
                            checkbox.checked = true;
                     } else {
                            document.documentElement.classList.remove('dark');
                            checkbox.checked = false;
                     }
                     checkbox.addEventListener('click', toggle);

                     /* Progress bar */
                     //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
                     var h = document.documentElement,
                            b = document.body,
                            st = 'scrollTop',
                            sh = 'scrollHeight',
                            progress = document.querySelector('#progress'),
                            scroll;
                     var scrollpos = window.scrollY;
                     var header = document.getElementById('header');
                     var navcontent = document.getElementById('nav-content');
              </script>
       </body>
</html>
