<!DOCTYPE html>
<html class="scroll-smooth">
       <head>
              <link rel="stylesheet" href="../index.css" />
              <style>
                     .link-underline {
                            border-bottom-width: 0;
                            background-image: linear-gradient(
                                          transparent,
                                          transparent
                                   ),
                                   linear-gradient(#fff, #fff);
                            background-size: 0 3px;
                            background-position: 0 100%;
                            background-repeat: no-repeat;
                            transition: background-size 0.5s ease-in-out;
                     }

                     .link-underline-black {
                            background-image: linear-gradient(
                                          transparent,
                                          transparent
                                   ),
                                   linear-gradient(#11181d, #11181d);
                     }

                     .link-underline:hover {
                            background-size: 100% 3px;
                            background-position: 0 100%;
                     }
              </style>
       </head>
       <!--Based on https://github.com/tailwindtoolbox/Minimal-Blog/blob/master/index.html-->
       <body
              class="bg-gray-100 dark:bg-neutral-800 font-sans leading-normal tracking-normal transition duration-300"
       >
              <nav id="header" class="fixed top-0 z-10 w-full">
                     <div
                            id="progress"
                            class="top-0 z-20 h-1"
                            style="
                                   background: linear-gradient(
                                          to right,
                                          #3b82f6 var(--scroll),
                                          transparent 0
                                   );
                            "
                     ></div>

                     <div
                            class="mx-auto mt-0 flex w-full flex-wrap items-center justify-between py-3 md:max-w-4xl"
                     >
                            <div class="pl-4">
                                   <a
                                          class="text-base text-xl font-extrabold text-gray-900 dark:text-neutral-200 no-underline hover:no-underline transition duration-300"
                                          href="/"
                                   >
                                          Chitsanupong
                                   </a>
                            </div>

                            <div
                                   class="z-20 mt-2 hidden w-full flex-grow bg-gray-100 md:bg-transparent lg:mt-0 lg:block lg:flex lg:w-auto lg:items-center"
                                   id="nav-content"
                            >
                                   <ul
                                          class="list-reset flex-1 items-center justify-end lg:flex"
                                   >
                                          <li class="mr-3">
                                                 <div
                                                        class="flex justify-end items-center"
                                                 >
                                                        <span
                                                               class="text-sm dark:text-neutral-700 text-neutral-400 transition duration-300"
                                                               >Light</span
                                                        >
                                                 </div>
                                                 <div>
                                                        <input
                                                               type="checkbox"
                                                               name=""
                                                               id="toggle"
                                                               class="hidden"
                                                        />
                                                        <label for="toggle">
                                                               <div
                                                                      class="w-9 h-5 flex items-center bg-gray-300 rounded-full p-1"
                                                               >
                                                                      <div
                                                                             class="toggle-dot w-4 h-4 bg-white rounded-full shadow-sm"
                                                                      ></div></div
                                                        ></label>
                                                 </div>
                                                 <div
                                                        class="flex justify-end items-center"
                                                 >
                                                        <span
                                                               class="text-sm dark:text-neutral-400 text-neutral-700 transition duration-300"
                                                               >Dark</span
                                                        >
                                                 </div>
                                          </li>
                                          <li class="mr-3">
                                                 <a
                                                        class="inline-block py-2 px-4 font-bold text-gray-900 dark:text-neutral-200 no-underline transition duration-300"
                                                        href="/"
                                                        >Home</a
                                                 >
                                          </li>
                                   </ul>
                            </div>
                     </div>
              </nav>

              <!--Container-->
              <div class="container mx-auto w-full pt-20 md:max-w-3xl">
                     <div
                            class="w-full px-4 text-xl leading-normal text-gray-800 md:px-6 dark:text-neutral-100 transition duration-300"
                            style="font-family: Georgia, serif"
                     >
                            <!--Title-->
                            <div class="font-sans">
                                   <h1
                                          class="break-normal pt-6 pb-2 font-sans text-3xl font-bold text-gray-900 dark:text-neutral-200 md:text-4xl transition duration-300"
                                   >
                                          {{ page.title }}
                                   </h1>
                            </div>

                            <!--Post Content-->

                            <!--Lead Para-->
                            {{ content }}
                     </div>

                     <!--Author-->
                     <div class="flex w-full items-center px-4 py-12 font-sans">
                            <img
                                   class="w-12 h-12 rounded-full overflow-hidden border-2 dark:border-white border-neutral-900 transition duration-300"
                                   src="https://avatars.githubusercontent.com/u/91706501?v=4"
                                   alt="Avatar of Author"
                            />
                            <div class="flex-1 px-2">
                                   <p
                                          class="mb-2 text-base text-base font-bold leading-none md:text-xl dark:text-white text-neutral-900 transition duration-300"
                                   >
                                          Chitsanupong Rongpan
                                   </p>
                                   <p
                                          class="text-xs text-neutral-800 dark:text-neutral-400 md:text-base transition duration-300"
                                   >
                                          Random student who likes to do coding
                                          just for fun.
                                   </p>
                            </div>
                            <div class="justify-end">
                                   <a href="/"
                                          ><button
                                                 class="rounded-full border border-neutral-800 text-neutral-800 dark:border-neutral-500 dark:text-neutral-500 bg-transparent py-2 px-4 text-xs font-bold text-neutral-80 hover:border-blue-500 hover:text-blue-500 dark:hover:text-neutral-300 dark:hover:border-neutral-300 transition duration-300"
                                          >
                                                 Read More
                                          </button></a
                                   >
                            </div>
                     </div>
                     <!--/Author-->

                     <!--Divider-->
                     <hr class="mx-4 mb-8 border-b-2 border-gray-400" />
              </div>
              <!--/container-->

              <footer
                     class="border-t border-gray-400 bg-white shadow dark:bg-neutral-700 transition duration-300"
              >
                     <div class="container mx-auto flex max-w-4xl py-8">
                            <div class="mx-auto flex w-full flex-wrap">
                                   <div class="flex w-full md:w-1/2">
                                          <div class="px-8">
                                                 <h3
                                                        class="font-bold text-neutral-900"
                                                 >
                                                        About
                                                 </h3>
                                                 <p
                                                        class="py-4 text-sm text-gray-600 dark:text-neutral-900 transition duration-300"
                                                 >
                                                        I'm student that starts
                                                        coding since 2018 for
                                                        fun, And I still doing
                                                        it for <b>fun</b>!
                                                 </p>
                                          </div>
                                   </div>

                                   <div class="flex w-full md:w-1/2">
                                          <div class="px-8">
                                                 <h3
                                                        class="font-bold text-neutral-900"
                                                 >
                                                        Social
                                                 </h3>
                                                 <ul
                                                        class="list-reset items-center pt-3 text-sm"
                                                 >
                                                        <li>
                                                               <a
                                                                      class="link link-underline link-underline-black hover:text-underline inline-block py-1 text-gray-600 dark:text-neutral-300 no-underline hover:text-gray-900 dark:hover:text-neutral-400 transition duration-300"
                                                                      href="https://github.com/BenCinn"
                                                                      >github:
                                                                      <b
                                                                             >@BenCinn</b
                                                                      ></a
                                                               >
                                                        </li>
                                                        <li>
                                                               <a
                                                                      class="link link-underline link-underline-black hover:text-underline inline-block py-1 text-gray-600 dark:text-neutral-300 no-underline hover:text-gray-900 dark:hover:text-neutral-400 transition duration-300"
                                                                      href="https://bencinn.github.io/"
                                                                      >Website:
                                                                      <b
                                                                             >bencinn.github.io</b
                                                                      ></a
                                                               >
                                                        </li>
                                                        <li>
                                                               <a
                                                                      class="link link-underline link-underline-black hover:text-underline inline-block py-1 text-gray-600 dark:text-neutral-300 no-underline hover:text-gray-900 dark:hover:text-neutral-400 transition duration-300"
                                                                      href="mailto:pp.rongpan@gmail.com"
                                                                      >Email:
                                                                      <b
                                                                             >pp.rongpan@gmail.com</b
                                                                      ></a
                                                               >
                                                        </li>
                                                 </ul>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </footer>

              <script>
                     /* Dark Mode */

                     const themeselect = function (theme) {
                            if (theme == 'dark') {
                                   document.documentElement.classList.add(
                                          'dark'
                                   );
                                   html.classList.add('dark');
                                   localStorage.setItem('theme', 'dark');
                            } else {
                                   document.documentElement.classList.remove(
                                          'dark'
                                   );
                                   html.classList.remove('dark');
                                   localStorage.setItem('theme', 'light');
                            }
                     };

                     const checkbox = document.querySelector('#toggle');
                     const html = document.querySelector('html');

                     const toggle = function () {
                            checkbox.checked
                                   ? themeselect('dark')
                                   : themeselect('light');
                     };

                     if (
                            localStorage.theme === 'dark' ||
                            (!('theme' in localStorage) &&
                                   window.matchMedia(
                                          '(prefers-color-scheme: dark)'
                                   ).matches)
                     ) {
                            document.documentElement.classList.add('dark');
                            checkbox.checked = true;
                     } else {
                            document.documentElement.classList.remove('dark');
                            checkbox.checked = false;
                     }
                     checkbox.addEventListener('click', toggle);

                     /* Progress bar */
                     //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
                     var h = document.documentElement,
                            b = document.body,
                            st = 'scrollTop',
                            sh = 'scrollHeight',
                            progress = document.querySelector('#progress'),
                            scroll;
                     var scrollpos = window.scrollY;
                     var header = document.getElementById('header');
                     var navcontent = document.getElementById('nav-content');

                     document.addEventListener('scroll', function () {
                            /*Refresh scroll % width*/
                            scroll =
                                   ((h[st] || b[st]) /
                                          ((h[sh] || b[sh]) - h.clientHeight)) *
                                   100;
                            progress.style.setProperty(
                                   '--scroll',
                                   scroll + '%'
                            );

                            /*Apply classes for slide in bar*/
                            scrollpos = window.scrollY;

                            if (scrollpos > 10) {
                                   header.classList.add('bg-white');
                                   header.classList.add('shadow');
                                   navcontent.classList.remove('bg-gray-100');
                                   navcontent.classList.add('bg-white');
                            } else {
                                   header.classList.remove('bg-white');
                                   header.classList.remove('shadow');
                                   navcontent.classList.remove('bg-white');
                                   navcontent.classList.add('bg-gray-100');
                            }
                     });
              </script>
       </body>
</html>
